.aboutTitle {
    background-color: darkslategrey;
    opacity: 0.7;
    font-family: "Impact";
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 0, 0);
    margin-top: 0px;
    position: relative;
    height: 50px;
    font-size: 40px;
}

.aboutParagraph {
    font-family:'Times New Roman', Times, serif;
    opacity: 0.7;
    border: solid darkslategrey;
    border-width: 10px;
    border-radius: 50px;
    height: 350px;
    position: absolute;
    text-indent: 40px;
    font-size: 25px;
    left: 40px;
    right: 40px;
    padding: 15px;
}

.aboutContact {
    font-family:'Times New Roman', Times, serif;
    top: 500px;
    left: 40px;
    font-size: 22px;
    border-radius: 50px;
    height: 150px;
    opacity: 0.7;
    border: 10px solid darkslategrey;
    position: absolute;
    padding-left: 30px;
    padding-right: 150px;
    padding-top: 25px;
}

.aboutImage {
    transform: scale(0.15,0.15);
    border-radius: 50%; /*border-radius property needs to be applied to an image directly in order to take effect*/  
}

.aboutImageContainer {
    position: absolute;
    left: 375px;
    top: 350px;
}




