.allReviewsTitle {
    background-color: darkslategrey;
    opacity: 0.7;
    font-family: "Impact";
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 0, 0);
    margin-top: 0px;
    position: relative;
    height: 50px;
    font-size: 40px;
}