/*We can also create CSS files within React modules - the only nuance here is that we must name the CSS file filename.module.css, since our CSS file is inside of a module*/

.reviewItemListingImageContainer { /*this is the declaration for a class in CSS*/
    position: relative;
    top: 25px;
}

.reviewItemListingTitle {
    position: relative;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    top: 15px;
    left: 0px;
}

.reviewItemListingDate {
    position: relative;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    left: 0px;
}

.reviewItemListingLink {
    position: relative;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    left: 0px;
}

.Link:hover
{
    background-color: silver;
}
